* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  overflow: hidden;
  height: 100vh;
}
button {
  cursor: pointer;
}
.container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  background-color: #61ac5a;
  width: 500px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.container .burrows {
  width: 135px;
  padding-top: 20px;
  margin: 0 20px 0 0;
  height: 65px;
  background: url(../images/cave.png) no-repeat bottom / 100% 85%;
  position: relative;
  overflow: hidden;
}
.container .burrows:nth-child(3n + 1) {
  margin-left: 23px;
}

.container .burrows:nth-last-child(3) {
  margin-bottom: 20px;
}
.susliks,
.immortal {
  width: 70px;
  height: 100px;
  background-color: blue;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 60px;
  background: url(../images/gophers.png) no-repeat center / 100% 100%;
}
#hammer {
  width: 80px;
  height: 100px;
  position: absolute;
  background: url(../images/hammer.png) no-repeat center / 100% 100%;
  transform: rotate(10deg);
  pointer-events: none;
}
.wrapLife {
  position: absolute;
  top: 5px;
  left: 10%;
  font-size: 30px;
  color: #464600;
  display: none;
}
.wrapLife #life {
  font-weight: 900;
  color: #ff0000;
  font-size: 35px;
}
#wrapMark {
  display: flex;
  position: absolute;
  left: 10%;
  top: 80px;
  font-size: 30px;
  display: none;
}
#wrapMark span {
  color: #464600;
}
#wrapMark #mark {
  font-weight: 900;
  color: #ff5500;
}
#wrap {
  height: 100vh;
}
#endBox {
  width: 100%;
  height: 100vh;
  display: none;
}
#endBox p {
  font-size: 60px;
  font-weight: 900;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
input {
  width: 30px;
  height: 30px;
}
#initial p {
  font-size: 23px;
}
.goMrak {
  position: absolute;
  color: red;
  font-size: 80px;
  font-weight: 900;
}
.immortal {
  background: url(../images/little-fairy.gif) no-repeat center / 100% 100%;
}
#timing {
  text-align: center;
  font-size: 40px;
  font-weight: 900;
  color: #ff5500;
  display: none;
  left: 50%;
  transform: translateX(-50%);
  top: 30px;
  position: absolute;
}
#finishMarkWrap {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
#finishMarkWrap li {
  display: flex;
  border: 1px solid red;
  border-top: 0;
  padding: 3px;
}
#finishMarkWrap li:first-of-type {
  border: 1px solid red;
}
.mod {
  margin-right: 10px;
}
#explain {
  margin-top: 50px;
}
@keyframes susliksMove {
  0% {
    top: 65px;
  }
  50% {
    top: 0;
  }
  100% {
    top: 67px;
  }
}
@keyframes lit {
  0% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-60deg);
  }
  100% {
    transform: rotate(10deg);
  }
}
@keyframes goMrak {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(0.5);
    opacity: 0.5;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
